@charset "utf-8"; 

.preview__ {
	padding-bottom: 5em; 
	font-size: small; 
	font-family: '맑은 고딕', sans-serif; 
	line-height: 1.6; 
}

section { padding: .5em 1em; }
section h1 { 
	border-bottom: 1px solid #ddd; 
	font-size: 1em; 
}
section .main { margin: 1em; }